@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&family=Raleway:wght@900&display=swap');
/*    font-family: 'Manrope', sans-serif;

    font-family: 'Raleway', sans-serif;*/
body, html {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #18191F;
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}


.header {
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
}
.logo span {
	font-weight: 900;
	font-size: 14px;
	line-height: 20px;
	color: #000;
}
.logo-icon {
	margin-right: 10px;
}
.nav__list {
	display: flex;
}
.nav__list-item {
	margin-right: 32px;
}
.nav__list-item:last-child {
	margin-right: 0px;	
}
.nav__list-item-link {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	color: #18191F;
	transition: ease .2s;
}
.nav__list-item-link:hover {
	font-size: 16px;
}
.download-card {
	margin-left: 12px;
	cursor: pointer;
}


.section {
	flex: 1 1 auto;
}
.content_wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 220px;
	padding-bottom: 200px;
}
.info {
	margin-right: 38px;
	max-width: 540px;
}
.info__title {
	font-weight: 800;
	font-size: 72px;
	line-height: 98px;
	padding-bottom: 16px;
}
.subtitle {
	font-size: 18px;
	line-height: 32px;
	padding-bottom: 48px;
}
.btn {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	padding: 18px 34px;
	background: #8C30F5;
	border-radius: 8px;
	transition: ease .2s;
}
.btn:hover{
	font-size: 22px;
}
.footer {
	background-color: #0B0D17;
}
.footer__wrapper {
	align-items: center;
	padding: 19px 0;
	display: flex;
	justify-content: space-between;
}
.copiryte-info {
	font-size: 14px;
	line-height: 24px;
	color: #D9DBE1;
}
.socites__links {
	margin-left: 20px;
}

@media (max-width: 1056px) {
	.download {
		display: none;
	}
}

@media (max-width: 874px) {
	.container {
		max-width: 874px;
		margin: 0 auto;
		padding: 0 20px;
	}
	.header {
		flex-direction: column;
	}
	.navigation {
		padding-top: 16px;
	}
	.download {
		padding-top: 16px;
	}
	.content_wrapper {
		padding-top: 90px;
		padding-bottom: 100px;
	}
	.content_wrapper {
		position: relative;	
	}
	.info {
	}
	.picture {
		right: -60%;
	}
}

@media (max-width: 700px) {
	.container {
		max-width: 700px;
		padding: 0 15px;
		margin: 0 auto;
	}
	.content_wrapper {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.info {
		max-width: 540px;
		position: absolute;
		left: 0;
	}
	.picture {
		z-index: -1;
		right: -50%;
		position: relative;
	}
	.info__title {
		font-size: 62px;
		line-height: 78px;
	}
}


@media (max-width: 640px) {
	.container {
		max-width: 640px;
		margin: 0 auto;
		padding: 0 10px;
	}
}

@media (max-width: 580px) {
	.container {
		max-width: 580px;
		margin: 0 auto;
	}
}

@media (max-width: 550px) {
	.container {
		max-width: 550px;
		margin: 0 auto;
	}
	.header {
		/*padding: 16px 32px;*/
	}
	.nav__list-item {
		margin-right: 16px;
	}
	.nav__list-item:last-child {
		margin-right: 0px;	
}
}

@media (max-width: 490px) {
	.conatiner {
		max-width: 490px;
		margin: 0 auto;
	}
	.logo {
		display: none;
	}
	.nav__list {
		display: column;
	}
}